@charset "utf-8";
body{
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    margin: 0;
    line-height: 1.3em;
}
.principal{
line-height: 1.4;
	padding-top: 7rem;
}
.container{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
.logo #logo img {
    width: 250px;
    height: 50px;
    margin-top: 0px;
	
}
.logof #logof img {
	 width: 370px;
    height: 200px;
    margin-top: 0px;
}
.menu-icon{
	display: none;
}
.cabezera{
   background-color: rgba(255,255,255,0.9);
    padding: 0rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
#menu ul{
	font-weight: bold;
   margin: 0;
   padding: 0;
	list-style: none;
}
#menu ul li{
display: inline-block;
}
#menu ul li a{
	display: block;	
 	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}
#menu ul li a :hover{
	color:#7C7A7B;}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
}
.logof-info-cont{
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap;
}
.cabezera a{
	color: black;
	
	text-decoration: none;
}
.pie{
    background: #DDDDDD;
    padding: 4rem;
    margin-top: 6rem;
    left: 0;
    top: 0;
    right: 0;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#info-f{
	width: 380px;
}
#info-f ul{
   margin: 0;
   padding: 0;
	list-style: none;
	text-align: left;
	width: 380px;
}

#info-f ul li a{
    text-decoration:none;
    margin: 0;
    padding: 0;
}
.con{
    margin-top: 50px;
}
.con img{
    width: 100%;
	height: 400px;
	object-fit: cover;
}
.fa-whatsapp{
    box-sizing: border-box;
    display: block;
    padding-top: 7px;
    background: #333;
    color: aliceblue;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    margin-top: 7px;
}
	
	@keyframes muestramenu{
	from{opacity: 0;}
		to{opacity: 1;}	
}
@media only screen and (max-width:880px)
{
		.contacto{
		flex-wrap: wrap;
			
			
			align-content: center;
			flex-direction: column;
	}
	.formulario{
		margin-top: 8rem;
	}
	.text-ubi{
		margin-bottom: 2rem;
	}
	#info-fc ul li {
    text-align: center;		
	}
	.bcont-slide-btn{
		padding-top: 1rem;
	}
#menu{
		width: 100%;
	margin-top: 1rem;
	}
#menu ul li{
display: block;
}
#menu ul li a{
	display: block;	
 	padding: 0.5rem 0rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}
	.menu-icon{
    display: block;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-right: 0rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
	}
	.fa-align-justify{
    box-sizing: border-box;
    display: block;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin-top: 4px;
		font-size:25px;
	}
	
	#menu ul{
		display:none;
		opacity: 0;
	}
	.fa-align-justify.show{
    box-sizing: border-box;
    display: block;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin-top: 4px;
		font-size:25px;
		color:#707070;
	}
	#menu ul.show{
    display: block;
    float: right;
		text-align: right;
		animation:muestramenu 0.7s ease-in-out both;
	}
	.logof-info-cont{
		display:flex;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	#info-f ul{
    text-align: center;
    width: 380px;
    margin-top: 20px;
	}
		.slider{
    max-height: 250px;
	}
	.slider-btn{
		 max-width:20px;
    max-height:20px;
	}
	#btn-left{
		font-size: 14px;
	}
	#btn-right{
		font-size: 14px;
	}
	.block1-serv{
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	.imgb1-serv {
	min-width: 90%;
}
	.imgb2-serv {
	min-width: 90%;
		order: 2;
}
	.textb1-serv{
	 
		min-width: 90%;
	}
		.textb2-serv{
	 
		min-width: 90%;
	}
}
@media only screen and (max-width:987px) and (min-width:881px){
	.logof #logof img {
	 width: 360px;
    height: 190px;
    margin-top: 0px;
}
	#info-f{
	width: 300px;
		font-size: 11pt;
}
	.slider{
		max-height: 400px;
	}
		.slider-btn{
		 max-width:25px;
    max-height:25px;
	}
	#btn-left{
		font-size: 17px;
	}
	#btn-right{
		font-size: 17px;
	}
	.textb1-serv{
min-width: 50%;
}
	.contacto{
		flex-wrap: wrap;
	}
}
@media only screen and (max-width:1290px) and (min-width:988px){
			.slider-btn{
		 max-width:30px;
    max-height:30px;
	}
	#btn-left{
		font-size: 20px;
	}
	#btn-right{
		font-size: 20px;
	}
}


/*go top//////////////////////////////*/
.go-top-container{
	position: fixed;
	bottom: 2rem;
	right: 0.3rem;
	width: 2.7rem;
	height: 2.7rem;
	z-index: -1;
}
.go-top-button{
	width: 0rem;
	height: 0rem;
	background:#585858;
	border-radius: 50%;
	cursor: pointer;
	transition: .2s;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.go-top-button i{
	position: absolute;
	font-size: .7rem;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: aliceblue;
	transition: .2s;
}
.sal{
	z-index: 10;
}
.sal .go-top-button{
	animation: popup .3s ease-in-out;
	width: 2.7rem;
	height: 2.7rem;
	z-index: 11;
}
.sal .go-top-button i{
	transform: translate(-50%, -50%) scale(1);
}
@keyframes popup{
	0%{
		width: 0rem;
		height: 0rem;
	}
	50%{
		width: 4rem;
		height: 4rem;
	}
		100%{
		width: 2.7rem;
		height: 2.7rem;
	}
}
/*slaider//////////////////////////////*/
.bcont-slide-btn{
	display: flex;
	align-items: center;
	justify-content: center;
}
#container-slider{
 	box-sizing: border-box;
	margin: auto;
 	width: 80%;
	overflow: hidden;
	box-shadow: 0 0 0 1px #fff, 0 1px 20px;
}
#slider{
    display: flex;
    height: 500px;
    width: 300%;
	margin-left: -100%;
}
.slider-section{
	width: 100%;
}
.slider-img{
display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.slider-btn{
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
	padding: 0;
	font-size: 27px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    color: #FFFFFF;
	border-radius: 50%;
	cursor: pointer;
}
.slider-btn:hover{
	background: #000000;
}
.slider-btn-left{
    margin-left: 3%;
}
.slider-btn-right{
    margin-right: 3%;
}
/*servicios//////////////////////////////*/
.title-serv{
    background: #3F3F3F;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: x-large;
    letter-spacing: 3px;
}
.cont-servicios{
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 90%;
    max-width: 1200px;
    line-height: 1.3em;
    text-align: justify;	
}
.block1-serv{
    display: flex;
    margin-bottom: 4rem;
	justify-content: space-between;
}
.imgb1-serv{
	width: 45%;	
}
.imgb2-serv{
	width: 45%;
}
.textb1-serv{
	max-width: 48%;
}
.textb2-serv{
	width: 45%;
	order: 1;
}
.imgb1-serv img{
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 9px;
}
.imgb2-serv img{
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
	border-radius: 9px;
}
/*quiennes-somos//////////////////*/
.cont-who{
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 90%;
    max-width: 1200px;
    line-height: 1.3em;
    text-align: justify;	
}
.img-who img{
  width: 100%;
  max-height:400px;
  object-fit: cover;
}
.img-who{
	width: 100%;
}
/*galeria//////////////////*/
.cont-gal{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	box-sizing: border-box;
}
#title-gal{
	padding:  20px 0;
}
.lineag{
	background: #292929;
	height: 5px;
	width: 100%;
	display: block;	
}
.galeria{
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px 0;
	overflow: hidden;
}
.galeria img{
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;
}
.galeria > a{
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.galeria a:hover img{
	filter: blur(2px);
}
.light-box{
	transition: transform .3s ease-in-out;
	position: fixed;
	top:0;
	left: 0;
	background: rgba(0,0,0,.5);
	width: 100%;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}
.light-box img{
	width:75vw;
    max-height: 70vh;
}
.light-box:target{
	transform: scale(1);
}
.closegal{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	background: #2B2B2B;
	color: aliceblue;
	text-decoration: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
.cabezeragal{
   background-color: rgba(255,255,255,0.9);
    padding: 0rem;
    left: 0;
    top: 0;
    right: 0;
}
.cabezeragal a{
	color: black;
	
	text-decoration: none;
}
.principalgal{
line-height: 0.4;
	padding-top: 2rem;
}
/*contacto//////////////////*/

.contacto{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
	
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-top: 41px;
}
.text-ubi{
	max-width: 25rem;
}
.text-ubi img{
	margin-top: 1rem;
	max-width: 25rem;
	max-height:400px;
	object-fit:cover;
}
#info-fc{
	max-width: 25rem;
		   margin: 0;
   padding: 0;
}
#info-fc ul{
	max-width: 25rem;
	   margin: 0;
   padding: 0;
	list-style: none;
	font-weight: bold;
}
.formulario{
		order: 1;
}
#info-fc ul li a{
	max-width: 25rem;
	    margin: 0;
    padding: 0;
text-decoration:none;
	
}
#info-fc{
    margin: 0;
    padding: 0;	
}
.formulario{
    background: #DDDDDD;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    border-radius: 13px;
    margin-top: 0px;
	max-width: 300px;
}
textarea{
	width: 300px;
	height: 100px;
}
input{
	width: 300px;
}